/sound/combat.fdp.bak
/sound/combat.fdp.autosave
/sound/fmod_designer.log
/sound/undo-log.txt
/sound/.fsbcache
/sound/.fsbcache
/maps/ns2_co_Core_debug.level
/maps/overviews/ns2_co_Core_debug.hmp
/maps/overviews/ns2_co_Core_debug.tga
/materials/co_core/co_core_welcome.dds
/materials/co_core/co_core_welcome.material
/screens/ns2_co_Core_debug/1.jpg
/screens/ns2_co_Core_debug/2.jpg
/screens/ns2_co_Core_debug/3.jpg
/screens/ns2_co_Core_debug/4.jpg