output/sound/combat.fdp.bak
output/sound/combat.fdp.autosave
output/sound/fmod_designer.log
output/sound/undo-log.txt
output/sound/.fsbcache
output/sound/.fsbcache
/maps/ns2_co_Core_debug.level
/maps/overviews/ns2_co_Core_debug.hmp
/maps/overviews/ns2_co_Core_debug.tga
/materials/co_core/co_core_welcome.dds
/materials/co_core/co_core_welcome.material
/screens/ns2_co_Core_debug/1.jpg
/screens/ns2_co_Core_debug/2.jpg
/screens/ns2_co_Core_debug/3.jpg
/screens/ns2_co_Core_debug/4.jpg
/source/sound
.tags
.tags_sorted_by_file